.main-nav {
    height: 85px;
    width: 1000px;
    display: flex;
}

.main-nav__list {
    display: flex;
    list-style: none;
    padding-top: 35px;
    font-family: Montserrat;
    font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #202020;
    text-transform: uppercase;
    & a {
       text-decoration: none; 
    }
}

.main-nav__logo {
    padding-top: 35px;
    margin-right: 256px;
    width: 35px;
    height: 35px;
}

.main-nav__item {
    margin-right: 24px;
    &:nth-child(5) {
        margin-right: 0;
    }
}